@charset "UTF-8";
	body,div,
	h1,h2,p,
	ol,ul,li {
	  margin: 0;
	  padding: 0;
	  border: 0;
	}

html {
	height:100%;	
	}
	
body {	
	background-color: #DCDCDC;	
	height:100%;
}

#menu {
	margin-top: 20px;
	widht: 50%;
	text-align: center;
}

section {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 1.2em;	
	text-align: justify;
	line-height: 28px;
}

article {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: 1.2em;	
	text-align: justify;
	line-height: 28px;
}

table {
	font: normal normal 14px Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
	line-height: 18px;
	color: #000000;
	border: 1px solid #fff; 
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

figure { width: 50%; margin-right: auto; margin-left: auto; }

img { width: 100%; border: 3px solid #000; padding: 10px 10px 10px 10px; }

figcaption { font-size: 0.8em; font-family: 'Tahoma', cursive; color: #363636; letter-spacing: -1px;}
	

form label {
   font-family:Arial, Helvetica, sans-serif;
   font-size:18px;
   color:#ffffff;
   font-weight:bold;
   float:center; }
	
form input {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color:#f2f2f2;
   border:1px solid #000;
   padding:5px;
   autocomplete:off;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -o-border-radius:5px;
   -ms-border-radius:5px;
   border-radius:5px; 
   }
	
form input[type="text"]:hover {
   background-color:#e1e1e1;
   border:1px solid #333;
    }

form input[type="text"]:focus {
   background-color:#6cf;
   border:1px solid #900;
   }

input[type=submit] {
   padding:10px;
   background-color:#696969;
   border:1px solid #000;
   color:#fff;
   font-weight:bold; }

input[type=submit]:hover {
   padding:10px;
   background-color:#000;
   border:1px solid #696969;
   color:#fff;
   font-weight:bold; }

input[type=button] {
   padding:10px;
   background-color:#696969;
   border:1px solid #000;
   color:#fff;
   font-weight:bold; }

input[type=button]:hover {
   padding:10px;
   background-color:#000;
   border:1px solid #696969;
   color:#fff;
   font-weight:bold; }
	
input[type=reset] {
   padding:10px;
   background-color:#696969;
   border:1px solid #000;
   color:#fff;
   font-weight:bold; }

input[type=reset]:hover {
   padding:10px;
   background-color:#000;
   border:1px solid #696969;
   color:#fff;
   font-weight:bold; }

span {
   font-family:  'Open Sans', sans-serif;
   font-weight: lighter;
   font-size: 0.9em;
   color: #000000;}
   
th {
-webkit-border-radius:5px;
-moz-border-radius:5px;
-o-border-radius:5px;
-ms-border-radius:5px;
border-radius:5px;
text-align: center;
font-size: 16px;
}

td {
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
	//text-align: center;
	}

tr:nth-child(2n+1) {
   background: #EDE9FB; }

a:link {
   color: #000000;
   text-decoration: none; }

a:visited {
   color: #FF00FF; }

a:hover {
   color: #FF00FF; }

a:active {
   color: #0000FF; }
   
ul { padding: 0px 50px 10px 50px; }

li { padding: 10px 0px 0px 10px; font-size: 1.0em; color: #4F4F4F; letter-spacing: 1px; font-weight: 100;}

p { font-size: 1.0em; color: #4F4F4F; padding: 5px 0px 15px 0px; letter-spacing: 1px; font-weight: 100;}

form textarea { 
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
        background-color:#f2f2f2; 
        border:1px solid #000;
	    padding:5px; autocomplete:off; 
        width: 100%;
		height: 200px;
        -webkit-border-radius:5px; 
        -moz-border-radius:5px;
	    -o-border-radius:5px; 
        -ms-border-radius:5px; 
        border-radius:5px; 
		resize: none;			
		}
	
	form textarea:hover { 
        background-color:#e1e1e1; 
        border:1px solid #333; 
        padding:5px; 
		}

	form textarea:focus { 
        background-color:#6cf; 
        border:1px solid #900; 
        padding:5px; 
		}
		
	select { 
        background-color:#f2f2f2; 
        border:1px solid #333;          
		width: 250px; 
		-webkit-border-radius:5px; 
        -moz-border-radius:5px; 
        -o-border-radius:5px; 
        -ms-border-radius:5px; 
        border-radius:5px;
		float: left;
		height:48px; /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
		font-family:Arial, Helvetica, sans-serif; /* Fonte do Select */
		font-size:18px; /* Tamanho da Fonte */
		padding:10px 10px 10px 10px; /* Configurações de padding para posicionar o texto no campo */
		color:#696969; /* Cor da Fonte */      
		text-overflow: "";  /* Remove seta padrão do FireFox */     
		select::-ms-expand {display: none;} /* Remove seta padrão do IE*/
		}
